html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Montserrat;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */


html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box
}

body {
  margin: 0;
} 

a {
  color: #777;
  text-decoration: none;
}

p {
  margin: 0 0 45px 0;
  text-align: justify;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Montserrat;
  font-weight: 600;
  color: #484848;
  margin: 30px 0 25px 0;
  line-height: 1.3
}


@media only screen and (min-width:250px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
}
@media only screen and (min-width:768px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 28px;
  }
}

@media only screen and (min-width:992px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 28px;
  }
}

@media only screen and (min-width:1200px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 30px;
  }
} 